* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-image: url('thor.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 8%;
  background-color: black;
}

.logo {
  font-size: 22px;
  color: #fff;
  cursor: pointer;
}

nav ul {
  display: flex;
  list-style-type: none;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li:hover {
  border-bottom: 2px solid white;
}

.content {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 50px;
  text-align: left;
}

.content h1 {
  font-size: 60px;
  margin-bottom: 20px;
}

.content p {
  max-width: 600px;
  text-align: left;
}
