body {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  
  #container {
    /* display: grid;
    grid-template-columns: auto; */
    gap: 10px;
  }
  
  #sidebar {
    margin-left: 26px;
    display: grid;
    grid-template-columns: repeat(3, 15px);
    grid-template-rows: repeat(8, 8fr);
    gap: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid #000;
  }
  
  #main {
    margin-left: 150px;
    display: grid;
    grid-template-columns: repeat(60, 1fr);
    grid-template-rows: repeat(40, 1fr); 
    gap: 2px;
    width: 15px;
    height: 15px;
    border: 1px solid #000;
  }
  
  div {
    width: 15px;
    height: 15px;
    border: 1px solid #000;
  }
  
  button {
    margin-top: 200px;
    padding: 10px;
    cursor: pointer;
  }