.container {
    padding: 20px;
    background-color: #f3f3f3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.task {
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
}

input, button {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ddd;
}

button {
    background-color: #ff5555;
    color: white;
}

button:hover {
    background-color: #ff2525;
}

.task-done .task-text {
    color: red;
    text-decoration: line-through;
}