.mercury{
    background-color: aqua;
}
.venus{
    background-color: purple;
}
.earth{
    background-color: greenyellow;
}
.mars{
    background-color: orangered;
}
.jupiter{
    background-color: brown;
}
.saturn{
    background-color: red;
}
.uranus{
    background-color: goldenrod;
}
.neptune{
    background-color: blue;
}