*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-image: url(th.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(3px)

}
.glass{
    width: 930x;
    height: 520px;
    box-shadow: 0 0 8px rgba(255,255,255,1);
    background-image: url(th.jpeg);
    background-position: center;
    background-size: cover;
}
nav{
    display: flex;
    padding: 30px 8%;
}
.logo{
    font-size: 22px;
    color: #fff;
    cursor: pointer;

}
nav ul{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    transition: 0.1s ease-out;
    
}

nav ul li:hover{
    border-bottom: 2px solid white;
}
    
nav ul li a{
    text-decoration: none;
    font-size: 12px;
    color: white;
    font-weight: bold;
}
img{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    margin-top: -7px;

}
img:hover{
    border: 2px solid white;
}
h3{
    color: white;
    margin: 80px 110px -25px;
    font-style: italic;
    font-weight: 100;
    letter-spacing: 1px
}


h1{
    color: white;
    margin: 0 110px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 150px;
    letter-spacing: 10px;
    opacity: 0.6;
}

    .my-element {
    background-image: linear-gradient(45deg, #000, #fff, #000 #fff, #000, #fff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    }    

.icons i{
    color: white;
}
.icons{
    display: flex;
    margin-top: 80px;
    margin-right: 50px;
   
}
.icon ul{
    flex: 1;
    text-align: right;

}
.icon ul li{
    list-style: none;
    display: inline-block;
    margin: 50px;
    padding: 10px;
}
.icons ul li i{
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;

}
.icons ul li i:hover{

}